:root {
  // accent
  --color-accent-100: #73A5FF;
  --color-accent-300: #4C8DFF;
  --color-accent-500: #397DF6;
  --color-accent-700: #2F68CC;
  --color-accent-900: #234E99;

  // success
  --color-success-100: #80FFBF;
  --color-success-300: #22E584;
  --color-success-500: #14CC70;
  --color-success-700: #0F9954;
  --color-success-900: #0A6638;

  // danger
  --color-danger-100: #FF8099;
  --color-danger-300: #F23D61;
  --color-danger-500: #CC1439;
  --color-danger-700: #990F2B;
  --color-danger-900: #660A1D;

  // warning
  --color-warning-100: #FFD073;
  --color-warning-300: #E5AC39;
  --color-warning-500: #D99000;
  --color-warning-700: #960;
  --color-warning-900: #640;

  // dark
  --color-dark-100: #4C4C4C;
  --color-dark-300: #333;
  --color-dark-500: #171717;
  --color-dark-700: #0D0D0D;
  --color-dark-900: #000;

  // light
  --color-light-100: #FFF;
  --color-light-300: #F7FBFF;
  --color-light-500: #EDF3FA;
  --color-light-700: #D5DAE0;
  --color-light-900: #8D9094;

    // background opacity
  --bg-opacity-100: rgba(0 0 0 0)
}
