#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;

  background: #397DF6;
}

#nprogress .peg {
  position: absolute;
  right: 0;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-transform: rotate(3deg) translate(0, -4px);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -ms-transform: rotate(3deg) translate(0, -4px);
  transform: rotate(3deg) translate(0, -4px);

  display: block;

  width: 100px;
  height: 100%;

  opacity: 1.0;
  box-shadow: 0 0 10px #7dacfe, 0 0 5px #7dacfe;
}
