.text {
  margin-top: 6px;
}

.buttons {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: flex-end;

  margin-top: 54px;
}

.buttonn {
  width: 35px;
}

.deleteButtonBox {
  .deleteButton {
    width: 16px;
    height: 16px;

    color: var(--color-danger-500);
    text-align: center;

    background-position: center;
    border-radius: 50%;
  }
}
