.popoverContent {
  position: relative;
  z-index: 300;

  min-width: 80px;

  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  box-shadow:
    0 10px 38px -10px rgb(22 23 24 / 35%),
    0 10px 20px -15px rgb(22 23 24 / 20%);
}
