@media (width > 768px) {
  .container {
    display: none;
  }

  .profileName {
    display: none;
  }

  .description {
    display: none;
  }
}

@media (width <= 768px) {
  .container {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 10px;

    .dataProfile {
      width: 360px;
    }

    .image {
      display: flex;

      width: 72px;
      height: 100%;
      min-height: 72px;

      background-color: var(--color-dark-900);
      border-radius: 50%;
    }

    .progressProfile {
      display: flex;
      gap: 30px;
      height: 48px;

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 54px;
      }
    }
  }

  .profileName {
    margin-bottom: 15px;
  }

  .description {
    max-width: 330px;
    margin-bottom: 20px;
  }

  .text {
    margin-bottom: 20px;

    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: var(--color-accent-500);
    text-decoration: underline;
    text-decoration-color: var(--color-accent-500);
  }
}
