@media (width > 768px) {
  .container {
    display: none;
  }

  .profileName {
    display: none;
  }

  .description {
    display: none;
  }
}

@media (width <= 768px) {
  .container {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 10px;

    .image {
      display: flex;

      width: 72px;
      height: 100%;
      min-height: 72px;

      background-color: var(--color-dark-900);
      border-radius: 50%;
    }

    .progressProfile {
      display: flex;
      gap: 42px;
      height: 48px;

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;

      }
    }
  }
.progressInfoText{
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-s);
}

  .profileName {
    margin-bottom: 20px;
  }

  .description {
    margin-bottom: 20px;
  }

  .text {
    margin-bottom: 20px;

    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: var(--color-accent-500);
    text-decoration: underline;
    text-decoration-color: var(--color-accent-500);
  }
}

@media (width < 375px) {
  .container {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 10px;

    .progressProfile {
      display: flex;
      gap: 15px;
      height: 48px;

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;

        .progressInfoValue {
          font-size: 10px;
          font-weight: 700;
          font-style: normal;
          line-height: 16px;
        }

        .progressInfoText {
          font-size: 10px;
          font-weight: 700;
          font-style: normal;
          line-height: 16px;
        }
      }
    }
  }
}
