.wrapper{
    @apply mb-4;

    >label{
        @apply block mb-1  text-light-900
    }

    >div{
        @apply relative;

        >input{
            @apply w-full pr-12  bg-dark-500 border-2 border-dark-100 p-2 rounded text-light-900
        }

        >span{
            @apply absolute  top-1/2 right-3 -translate-y-1/2 fill-light-100 cursor-pointer transition-colors
        }
    }

}