.container {
  width: 100%;
}

.label {
  color: var(--color-light-900);
}

.icon {
  display: flex;
}

.trigger {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: -4px;
  padding: 5px;

  text-transform: capitalize;

  background: none;
  border: 1px solid var(--color-dark-100);

  &[data-state='open'] .icon {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }

  &[data-state='closed'] .icon {
    transition: all 0.3s ease-in-out;
  }
}

.value {
  margin-right: 6px;
  margin-left: 6px;
}

.trigger:focus {
  border: 2px solid var(--color-accent-500);
  border-radius: 2px;
  outline: none;
}

.trigger:hover {
  background: var(--dark-500, #333);
}

.trigger:disabled {
  opacity: 0.5;
}

.content {
  z-index: 4;

  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);

  text-transform: capitalize;

  background: black;
  border: 1px solid var(--dark-300, #4c4c4c);
  border-top: none;

  animation: fadeIn 0.5s ease;
}

.item {
  cursor: pointer;

  display: flex;
  align-items: center;

  height: 36px;
  padding: 12px;
}

.item:focus {
  outline: none;
}

.item:hover {
  color: var(--color-accent-500);
  background: var(--color-dark-300);
}

.pagination:hover {
  color: var(--color-light-100);
  background: var(--color-dark-100);
}

.pagination:focus-visible {
  color: var(--color-light-100);
  background: var(--color-dark-100);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
