.notificationBlock {
  cursor: pointer;

  position: absolute;
  z-index: 10;
  top: 0.7rem;
  right: 13.3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  margin: 4px 32px;

  .iconBadge {
    position: absolute;
    top: 1.5px;
    left: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 13px;
    height: 13px;
    padding: 4px;

    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    line-height: 8px;
    color: #fff;

    background: var(--color-danger-500);
    border-radius: 50%;
  }

  @media (width <= 640px) {
    top: 0.7rem;
    right: 6rem;
  }
}

.icon {
  width: 28px;
  height: 28px;
  color: #fff;
}

.iconColor {
  width: 28px;
  height: 28px;
  color: var(--color-accent-500);
}
