.box{
  height: 504px;
  width: 490px;
  display: flex;
}
.postImg{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.instaFilter{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 1.5rem 3.375rem;
}
.filLofi{
  filter:  contrast(1.5) saturate(1.1) contrast(1.5);

}
