.filterBox{
  display: flex;
  width: 100%;
  height: 504px;
  justify-content: space-between;
  @media (width<=910px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;

  }
}
.swiperSlideBox{
  width: 50%;
  @media (width<=910px) {
   width: 100%;
  }
}
.box{
  height: 504px;
  display: flex;

  @media (width<=910px) {
height: 280px;
    min-width: 100%;

  }
}
.postImg{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (width<=910px) {

  }
}
.filterPostImage{
display: flex;
  justify-content: center;
  min-width: 100%;
  @media (width<=910px) {
    min-width: 50%;

  }
}
.imgContainer{
  display: flex;
  width: 50%;
  height: 504px;
  justify-content: space-between;

  @media (width<=910px) {
width: 100%;

  }
}
.img{
 min-width: 490px;

}

.mobFilter{

  cursor: pointer;
  padding: 0 12px;
}

.instaFilter{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 1.5rem 3.375rem;
}