@use "../../../../../../shared/assets/mixins";
.tool{
  @include mixins.tool
}
.newItem{
  width: 244px;
  height: 106px;
  display: flex;
  justify-content: space-between;

}
.onePhoto{
  width: 152px;
}

.box{
  opacity: 0.8;
}
.menuBox{
  position: relative;
}
.imgs{
  display: flex;
  gap: 3px;
  width: 164px;
  >img{
    width: 80px;
    height: 82px;

    opacity: 0.8;
  }

}