.post-images-slider {
  .swiper-button-prev,
  .swiper-button-next {
    font-weight: bold;
    color: rgb(255 255 255);
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    @media screen and (width<=910px) {
      top: 86%;
      left: 30%;

      width: 47%;
      height: 10px;
      margin: 4px;
    }

    @media screen and (width<=459px) {
      top: 77%;
    }
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    padding: 10px;
    font-size: 12px;
    opacity: 0.8;
    background-color: var(--color-dark-500);
  }

  .post-images-filter {
    .swiper-button-prev,
    .swiper-button-next {
      font-weight: bold;
      color: rgb(255 255 255);
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      padding: 10px;
      font-size: 12px;
      opacity: 0.8;
      background-color: var(--color-dark-500);
    }
  }
}
