.post-images-slider {
  .swiper-button-prev,
  .swiper-button-next {
    font-weight: bold;
    color: rgb(255 255 255);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    padding: 10px;
    font-size: 12px;
    opacity: 0.8;
    background-color: var(--color-dark-500);
  }

}

.post-images-filter {
  .swiper-button-prev,
  .swiper-button-next {
    font-weight: bold;
    color: rgb(255 255 255);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    padding: 10px;
    font-size: 12px;
    opacity: 0.8;
    background-color: var(--color-dark-500);
  }
}
