.post-images-slider {
  .swiper-button-prev,
  .swiper-button-next {
    font-weight: bold;
    color: rgb(255 255 255);
  }
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    @media screen and (width<=910px){
      width: 47%;
      left: 30%;
      top: 89%;
      height: 10px;
    }
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    padding: 10px;
    font-size: 12px;
    opacity: 0.8;
    background-color: var(--color-dark-500);
  }

}

.post-images-filter {
  .swiper-button-prev,
  .swiper-button-next {
    font-weight: bold;
    color: rgb(255 255 255);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    padding: 10px;
    font-size: 12px;
    opacity: 0.8;
    background-color: var(--color-dark-500);
  }
}
