.wrapper {
    @apply flex flex-col justify-center items-center mx-2;

    .heading {
        @apply  text-light-100 my-4 font-bold text-xl text-center;
    }

    >p {
        @apply text-light-100 my-2 text-center w-6/12 max-sm:text-sm sm:text-base 
    }

    


    
}