.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 24px;

  border-bottom: 1px solid var(--color-dark-100);
}

.avatar {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.smallAvatar {
  border-radius: 50%;
}

.dots {
  cursor: pointer;
  color: var(--color-accent-500);
}

.content {
  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}

.button {
  margin: 0;
  padding: 0;
  color: var(--color-light-100)
}
