.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 24px;

  border-bottom: 1px solid var(--color-dark-100);
}

.main {
  max-width: 500px;
  height: 321px;
  word-break: break-all;
}

@media (width <= 1024px) {
  .main {
    height: 180px;
  }
}

.scrollContent {
  width: 100%;
  background-color: var(--color-dark-300);
}

.avatar {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.smallAvatar {
  border-radius: 50%;
}

.smallAvatarPost {
  transform: translateY(5px);
  border-radius: 50%;
}

.dots {
  cursor: pointer;
  color: var(--color-accent-500);
}

.content {
  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}

.button {
  margin: 0;
  padding: 0;
  color: var(--color-light-100);
}

.post {
  display: flex;
  column-gap: 12px;
  align-items: flex-start;

  padding: 12px 24px;

  overflow-wrap: break-word;
}

.updatedAt {
  color: var(--color-light-900);
}

.comment {
  overflow-x: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  max-width: 480px;
}

.like {
  padding: 24px 24px 0 0;
}

.share {
  padding: 12px 24px;
  border-top: 1px solid var(--color-dark-100);
  border-bottom: 1px solid var(--color-dark-100);
}

.shareIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareIconsStart {
  display: flex;
  column-gap: 26px;
  align-items: center;
}

.likeCounter {
  display: flex;
  column-gap: 12px;
  align-items: center;
  padding: 0 24px 36px 0;
}

.likeCounterNum {
  transform: translateY(15px);
}

.avatarLayers {
  position: relative;
  width: 90px;
}

.smallAvatarLayer {
  position: absolute;
  border-radius: 50%;
}

.smallAvatarLayer:first-child {
  z-index: 30;
  left: 0;
}

.smallAvatarLayer:nth-child(2) {
  z-index: 20;
  left: 25px;
}

.smallAvatarLayer:nth-child(3) {
  z-index: 10;
  left: 50px;
}

.addComment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
}
