.modalContent {
  display: flex;
  flex-wrap: wrap;
}

@media (width <= 1024) {
  .modalContent {
    width: min-content;
  }
}

.imageContainer {
  width: 550px;
  height: 621px;
}

.commentsContainer {
  flex-basis: 450px;
  flex-grow: 1;
  min-height: 350px;
}
