.modalContent {
  display: flex;
  flex-wrap: wrap;
}

.imageContainer {
  width: 500px;
  height: 621px;
}

.commentsContainer {
  flex-basis: 450px;
  flex-grow: 1;

  max-width: 500px;
  min-height: 350px;
  padding-top: 20px;
}

.deleteButtons {
  display: flex;
  column-gap: 30px;
  justify-content: flex-end;
  margin-top: 24px;
}

.singleImage {
  min-width: 500px;
}

@media (width <= 1024px) {
  .modalContent {
    display: flex;
    flex-direction: column;
  }

  .singleImage,
  .imageContainer {
    width: 490px;
    height: 300px;
  }
  
  .commentsContainer {
    flex-basis: 440px;
    flex-grow: 1;

    max-width: 500px;
    min-height: 350px;
    padding-top: 20px;
  }
}

@media (width <= 576px) {
  .singleImage,
  .imageContainer {
    width: 400px;
    height: 300px;
  }

  .singleImage {
    min-width: 350px;
  }
  
  .commentsContainer {
    flex-basis: 430px;
    flex-grow: 1;
    padding-top: 10px;
  }
}

@media (width <= 450px) {
  .imageContainer {
    width: 320px;
    height: 270px;
  }
  
  .singleImage {
    min-width: 320px;
  }

  .commentsContainer {
    flex-basis: 450px;
    flex-grow: 1;
    padding-top: 5px;
  }
}
