.container {
  max-width: 1000px;
  margin: 24px 36px 0;

  .backButtonContainer {
    width: 205px;

    .link {
      display: flex;
      gap: 12px;
      align-items: center;

      min-width: 135px;

      text-decoration: none;

      &:hover {
        cursor: pointer;
        color: var(--color-accent-500);
        stroke: var(--color-accent-500);
      }
    }
  }

  .title {
    display: flex;
    justify-content: center;
    margin: 23px 0 20px;
  }

  .textContainer {
    margin: 0 97px;

    .text {
      font-size: 0.875rem;
      font-weight: 400;
      font-style: normal;
      line-height: 1.5rem;
    }
  }

  @media (width <= 1024px) {
    margin-top: 24px;
    margin-left: 12px;
  }
}
