.wrapper {
    @apply border border-dark-100 rounded-sm px-8 py-8 max-sm:w-full max-md:sm:w-1/2 md:w-96 bg-dark-500;

    .heading {
        @apply text-light-100 font-bold text-xl text-center;
    }

    .icon {
        @apply flex justify-center items-center my-4;

        >a {
            @apply mx-8;
        }
    }


}
