.menuBox{
  padding: 15px;
}
.titleBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 54px;
}
.imgBox{
  width: 252px;
  height: 252px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.imageBox{
  position: relative;
  height: 504px;


  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}