.box {
  position: fixed;
  z-index: auto;
  top: 0;
  left: 0;

  display: inline-flex;
  justify-content: space-between;

  width: 220px;
  height: 100vh;
  margin-top: 64px;
  padding: 72px 60px 10px;

  color: var(--color-text-primary);

  background-color: transparent;
  border-right: 1px solid var(--color-dark-300);
}

.contentBox {
  flex-grow: 1;

  li {
    list-style: none;
  }
}

.content {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 24px;

  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  color: #fff;
  text-decoration: none;

  &:active {
    color: var(--color-accent-500);
    fill: var(--color-accent-500);
    stroke: var(--color-accent-500);
  }

  &:hover {
    color: var(--color-accent-100);
    stroke: var(--color-accent-100);
  }

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-dark-100);
    stroke: var(--color-dark-100);
  }
}

.marginBox {
  margin-bottom: 60px;
}

.largeMargin {
  margin-bottom: 180px;
}

.activeLink {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: var(--color-accent-500);
}
