.searchTextFieldBox{
width: 596px;
}
.dataBox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.avatar{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid var(--color-light-900);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text{
  min-width: 60%;
}