.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 0;
}

.mainContainer {
  display: flex;
  align-content: space-between;

}

.imagePicker {
  padding: 0px 20px;
  max-width: 40%;
}

.footerContainer {
  padding: 25px 0px;
  border-top: 2px solid var(--color-dark-300);
  display: flex;
  justify-content: end;
}
