.box{
  padding: 17px 12px 0 12px;
}
.button_title{
display: flex;
  align-items: center;
  margin-bottom: 17px;

}
.title{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}