.box {
  padding: 17px 12px 0;
}

.button_title {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
