.post-single-slider {
  .swiper-pagination-bullet {
    position: relative;
    z-index: 100;
    transform: translateZ(1px);

    margin: 0 8px !important;

    opacity: 1;
  }

  .swiper-pagination-bullet::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 8px;
    height: 8px;

    background-color: white;
    border-radius: 50%;
  }

  .swiper-pagination-bullet-active::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 8px;
    height: 8px;

    background-color: #397df6;
    border-radius: 50%;
  }

  .swiper-pagination-bullet::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 0;
    height: 0;

    background-color: whitesmoke;
    border-radius: 0%;
    box-shadow: 0 0 1px 12.2px rgb(0 0 0 / 40%);

    // @media screen and (width<=910px) {
    //   box-shadow: none;
    // }
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    @media screen and (width<=910px) {
      top: 86%;
      height: 10px;
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    @media screen and (width<=910px) {
      width: 8.2px;
      height: 4px;
      box-shadow: none;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    font-weight: bold;
    color: rgb(255 255 255);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    padding: 10px;
    font-size: 12px;
    opacity: 0.8;
    background-color: var(--color-dark-500);
  }

  .post-images-filter {
    .swiper-button-prev,
    .swiper-button-next {
      font-weight: bold;
      color: rgb(255 255 255);
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      padding: 10px;
      font-size: 12px;
      opacity: 0.8;
      background-color: var(--color-dark-500);
    }
  }
}
