.filterBox{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 1.5rem 3.375rem;
}

.scrollImg{
  width: 490px;

}
.toolWidthLarge{
  display: flex;
  flex-direction: column;
   flex-wrap: wrap;
  gap: 1.5rem;
   justify-content: center;
   width: 50%;
   height: 100%;
   padding: 1.5rem 3.375rem;
}
