.wrapper {
  display: grid;
  grid-template-areas:
  'h h'
  's c';
  grid-template-columns: 220px 9fr;

  //grid-template-rows: 64px 1fr;

  .header {
    grid-area: h;
  }

  .sidebar {
    grid-area: s;

  }

  .wrapperContent {
    grid-area: c;
  }
}
